useDynLib(ridge, .registration = TRUE)

 importFrom("grDevices", "rainbow")
  importFrom("graphics", "abline", "lines", "plot")
  importFrom("stats", ".checkMFClasses", ".getXlevels", "coef", "delete.response",
             "model.frame", "model.matrix", "model.response", "na.pass",
             "pnorm", "predict", "printCoefmat", "terms")
  importFrom("utils", "read.table")

# functions
export(linearRidge, logisticRidge, pvals)

# functions not exported
# export(computeLogisticRidge, objectiveFunction, updateBeta)


# S3 methods
S3method(coef, ridgeLinear)
S3method(coef, ridgeLogistic)
S3method(plot, ridgeLinear)
S3method(plot, ridgeLogistic)
S3method(plot, pvalsRidgeLinear)
S3method(plot, pvalsRidgeLogistic)
S3method(predict, ridgeLinear)
S3method(predict, ridgeLogistic)
S3method(print, pvalsRidgeLinear)
S3method(print, pvalsRidgeLogistic)
S3method(print, ridgeLinear)
S3method(print, ridgeLogistic)
S3method(print, summary.ridgeLinear)
S3method(print, summary.ridgeLogistic)
S3method(pvals, ridgeLinear)
S3method(pvals, ridgeLogistic)
S3method(summary, ridgeLinear)
S3method(summary, ridgeLogistic)
S3method(vcov, ridgeLinear)

## export functions to call C code - fitting
export(linearRidgeGenotypes, logisticRidgeGenotypes)

## export functions to call C code - predicting
export(linearRidgeGenotypesPredict, logisticRidgeGenotypesPredict)


